.Profile-wrapper {
  width: 95vw;
  margin: 0 auto;
}

.Profile-view {
  margin: 0 80px;
}

.Profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Profile-header-top {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  width: 100%;
}

.Profile-header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #273238;
  box-shadow: 5px 6px 11px #8888885a;
}

.Profile-tabs {
  color: rgb(222, 232, 233);
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: space-around;
  width: 30%;
  position: absolute;
}

.header-bar {
  display: flex;
}

.back-btn {
  position: fixed;
  padding: 50px;
}

.Profile-headshots {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 90px;
}

.curHeadshot {
  object-fit: cover;
  object-position: 0 15%;
  width:200px;
  height:200px;
  border-radius: 100px;
  box-shadow: 5px 6px 20px #3e3e3e5f !important;
  z-index: 0;
  position: relative;
}

.Update-img-btn {
  position: absolute;
  z-index: 1;
  bottom: 33em;
}

@media only screen and (max-width: 1000px) {
  .Update-img-btn {
    position: absolute;
    z-index: 1;
    bottom: 35em;
  }
}

.initHeadshot {
  object-fit: cover;
  box-shadow: 5px 6px 20px #3e3e3e5f !important;
  object-position: 0 15%;
  width:200px;
  height:200px;
  border-radius: 100px;
}

.Profile-body {
  background-color: #b2b4b6;
  margin-top: 16px;
  padding: 50px;
  border-radius: 5px;
}

.timeline-marker {
  text-align: center;
  margin: 50px 0 -8px 0;
  box-shadow: none;
  padding: 0;
}

.card-panel {
  background-color: #EBEBEB;
}

.body-item {
  background-color: white;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row {
  margin-bottom: 0;
}

.quote-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  margin: 0 auto;
}

.quote-text {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.strong {
  font-weight: 600;
}

.Update-btn {
  display: flex;
  justify-content: flex-end;
}

.highlight {
  display: flex;
  align-items: center;
}

.highlight li {
  font-family: 'Raleway', sans-serif;
}

p.highlight, ul {
  padding-left: 10px;
}

i.highlight {
  margin: 10px;
}

/* -------- Mobile Styling -------- */

@media only screen and (max-width: 1000px) {
  .Profile-body {
    margin: 0 auto;
    margin-top: 0;
    padding: 8px;
  }
  
  .Profile-wrapper {
    width: 85vw;
  }

  .Profile-container {
    margin: 0 5px;
  }
  
  .Profile-view {
    margin: 0 10px;
  }
  
  .Profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .Profile-header-top {
    align-items: center;
    margin-top: 30px;
    height: 100px;
  }
  
  .Profile-header-bottom {
    flex-direction: column-reverse;
    height: 100%;
  }
  
  .Profile-tabs {
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    margin: 15px;
    padding: 0 20px;
    position: inherit;
  }

  .Sidebar {
    display: none;
  }
  
  .back-btn {
    padding: 20px;
  }
  
  .Profile-headshots {
    justify-content: space-around;
    width: inherit;
    padding-bottom: 0;
    margin: 15px;
  }
  
  .headshot {
    height: 130px;
  }
}