@media only screen and (min-width: 200px) {
  .Index-grid {
    display: grid;
    grid-template-columns: repeat(2, fr);
    grid-gap: 0 10px;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  .Index-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 20px;
  }
  .Index-container {
    margin: 0 10vw;
  }
}

@media only screen and (min-width: 992px) {
  .Index-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .Index-container {
    margin: 0 10vw;
  }
}

@media only screen and (min-width: 1200px) {
  .Index-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
  }

  .Index-container {
    margin: 0 5vw;
  }

  .Index-headshot {
    max-width: 100%;
    object-fit: cover;
    /* width: 250px !important;
    height: 250px !important; */
    object-position: 0 15%;
    border-radius: 5px;
  }
}

/* -------- Image Cards -------- */

img.activator {
  max-width: 100%;
  /* object-fit: cover;
  width:25vw;
  height: 25vh;
  object-position: 0 15%; */
  border-radius: 5px;
}

.card .card-title {
  text-transform: capitalize;
  font-size: 20px;
  text-align: left;
}

.card .card-content {
  padding: 10px 15px;
}

.card .link {
  text-align: right;
}

.cardHighlight {
  display: flex;
  align-items: center;
  padding: 15px 0
}

/* -------- End Image Cards -------- */

p.Index-name {
  font-size: 20px;
  line-height: 0;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

input.search {
  width: 250px;
  background-color: rgb(227, 227, 227);
  padding: 0 20px;
  border-radius: 10px;
}

input.search::placeholder {
  color: rgb(159, 159, 159);
}

/* when text input is in focus */
input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid rgb(114, 114, 114);
  box-shadow: 0 1px 0 0 rgb(114, 114, 114);
}